.scanlines {
	position: relative;
	overflow: hidden;
}

.scanlines::before {
	content: " ";
	z-index: 2;
	pointer-events: none;
	border-radius: inherit;
	background: linear-gradient(#12101000 50%, #00000040 0) 0 0 / 100% 2px,
		linear-gradient(90deg, #ff00000f, #00ff0005, #0000ff0f) 0 0 / 3px 100%;
	display: block;
	position: absolute;
	inset: 0;
}

.scanlines > * {
	position: relative;
	z-index: 3;
}
