---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Pong">
	<section class="page-block">
		<h1>Pong</h1>
		<p>Trying to figure out how to put Pong here</p>
	</section>
</BaseLayout>
